.figure-item {        
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    margin-top: 30px;
    padding: 4%;

    .figure-item-title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            font-size: 14px;
            margin: 0;
        }

        a {
            text-decoration: none;
            width: 24px;
        }
    }

    .figure-item-content {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;

        .figure-row {
            display: flex;
            width: 100%;

            .figure {
                background: #c2c2c2;
                border: 2px solid #bdbdbd;
                border-radius: 4px;
                height: 30px;
                margin: 1%;
                width: 100%;
            }

            .figure-color {
                background-color: rgb(110, 203, 219);
                border: 2px solid rgb(42, 173, 82);
                border-radius: 4px;
                height: 30px;
                margin: 1%;
                width: 100%;
            }
        }
    }
}